<h3>Assign money</h3>
<p>to</p>
<p><b><%= @budget.name %>:</b><%= @budget.allocated_sum %></p>

<div class="assign_form">
  <%= form_with model: @budget, class: "assign_form" do |form|%>
    <%=  form.number_field :sum, class: "form-field" %>
    <div class="assign_form-buttons">
      <%= link_to 'cancel', budgets_path %>
      <%= form.submit 'assign' %>
    </div>
  <% end %>
</div>
