
<h1>Budgets</h1>

<%= render 'accounts', accounts: @accounts %>

<div class="budgets_list">
  <% @budgets.each do |budget| %>
    <div class="budgets_item">
      <p class="budgets_item-title">
        <%= link_to budget.name, budget_path(budget) %>
      </p>
      <div class="budgets_item-body">
        <a href="<%= budget_path(budget)%>/assign" class="budgets_item-button">
          assign
        </a>
        <a href="<%= budget_path(budget)%>/spend" class="budgets_item-button">
          spend
        </a>
      </div>
      <p class="budgets_item-sum">
        <%= budget.allocated_sum || 0 %>
      </p>
    </div>
  <% end %>
  <div class="budgets_item">
    <%= link_to 'Create budget', new_budget_path %>
  </div>
</div>
