
<div class="assigning-info">
  <b>
    <%= link_to 'Ready to assign', accounts_path %> 
  </b><%= @available_amount %>
</div>

<div class="budgets_list">
  <% @budgets.each do |budget| %>
    <div class="budgets_item">
        <%= link_to budget.name, budget_path(budget), class: "budgets_item-title" %>
      <div class="budgets_item-body">
        <a href="<%= budget_path(budget)%>/assign" class="budgets_item-button">
          assign
        </a>
        <a href="<%= budget_path(budget)%>/spend" class="budgets_item-button">
          spend
        </a>
      </div>
      <div class="budgets_item-sum">
        <%= budget.allocated_sum || 0 %>
      </div>
      <div class="budgets_item-needed_sum">
        <%= budget.allocated_sum || 0 %>
      </div>
    </div>
  <% end %>
  <div class="budgets_item">
    <%= link_to 'Create budget', new_budget_path, class: 'budgets_item-body' %>
  </div>
</div>
