<div class="form_container">
  
  <div class="operation_form">
    <%= form_with model: @budget, class: "operation_form-body" do |form|%>
      <h3 class="operation_form-title">
        Spend to 
        <b class="operation_form-budget_name">
          <%= @budget.name %>
        </b>
        from
        <%= form.select(:account_id, options_for_select(@account_options, selected: @default_account_id), {}, class: "form-field") %>
      </h3>
      <%= form.number_field :sum, class: "operation_form-field" %>
      <div class="operation_form-actions">
        <%= link_to 'cancel', budgets_path, class: "operation_form-button" %>
        <%= form.submit 'spend', class: "operation_form-button" %>
      </div>
    <% end %>
    <p>(available to spend:<%= @budget.allocated_sum %>)</p>
  </div>

  <ul class="expenses">
    <% @expenses.each do |exp| %>
      <li class="expenses_item">
        <div class="expenses_item-date"><%= exp.transaction_date %></div>
        <div class="expenses_item-body">
          <span class="expenses_item-account"><%= exp.account.name %></span>
          <span class="expenses_item-sum"><%= exp.amount %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
